<h3 style="text-align:center;">Products</h3>
<%= link_to "Add a product", new_product_path%>
<div class="row">
  <div class="section">
    <% @products.each do |product|%>
    <div id="product_<%=product.id%>">
        <h4 style="text-align:center;"><%= product.name %></h4>
        <p style="text-align:center;"><%= number_to_currency product.price %></p>
        <div id="extra_detail_<%=product.id%>">
        </div>
          <%= link_to "See more details...", product_path(product), remote: true, id: "see_details" %>
          <%= form_for @order_item, remote:true do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.number_field :quantity, placeholder: "Input quantity greater than 0", id: "add_to_cart" %>
            <span class="waves-effect waves-light btn"><%= f.submit "Add to cart", remote: true %></span>
            <% if current_user && current_user.admin %>
       <br>
         <p>
           <%= link_to "Edit", edit_product_path(product),:class=>"waves-effect waves-light btn"%>
           <%= link_to "Delete", product_path(product), remote: true, :data => {:confirm => "Are you sure?",                                           :method => "delete"}, :class=>"waves-effect waves-light btn red darken-2"%>
         </p>
          <% end %>
        <% end %>
        <hr>
        <br>
        <br>
      </div>
    <% end %>
  </div>
</div>
